<div style="margin-bottom: 20px;">
    {% for job in jobs %}
    <div class="border-bottom row" style="padding:8px">
        <div class="col-10">
            <h4>{{job.get('title')}}</h4>

            <div>
                <b>Location:</b> {{job.get('location')}}
                <br>

                {% if 'salary' in job and job.get('salary') != '' %}

                <b>Salary:</b> {{job.get('salary')}}

                {% endif %}

            </div>
        </div>

        <div class="col-2">

            <a href="mailto:growup@contact.io?subject=Application%20for%20{{job.title}}" class="btn btn-primary btn-sm" type="submit">Apply</a>
        </div>
    </div>
    {% endfor %}
</div>